/* BASES */

.Bubble00,
.Bubble01,
.Bubble02,
.Bubble03,
.Bubble10,
.Bubble11,
.Bubble12,
.Bubble13,
.Bubble20,
.Bubble21,
.Bubble22,
.Bubble23,
.Bubble30,
.Bubble31,
.Bubble32,
.Bubble33 {
  background-color: rgba(255, 255, 255, 0.98);
  background-repeat:no-repeat,repeat ;
  border-style: solid;
  border-color: rgb(100, 100, 100);
  border-radius: 0px;
  
  height: 82px;
  border-width: 02px;
  background-position: 0px -30px;
}

.Bubble00 {
  border-left-width: 0px;
  
  border-right-width: 0px; 
}

.Bubble01 {
  border-left-width: 0px;
  
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  }

.Bubble02 {
  border-left-width: 0px;
}

.Bubble03 {
  border-left-width: 0px;
  
  border-right-style: dashed; 
}

.Bubble10 {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  
 border-right-width: 0px;
 }

.Bubble11 {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
     
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.Bubble12 {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  
}

.Bubble13 {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  
  border-right-style: dashed;
}

.Bubble20 {
 
  border-right-width: 0px; 
}

.Bubble21 {
   
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.Bubble23 {
  
  border-right-style: dashed;
}

.Bubble30 {
  border-left-style: dashed;
  
  border-right-width: 0px; 
}

.Bubble31 {
   border-left-style: dashed;
    
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px; 
}

.Bubble32 {
   border-left-style: dashed;
   
}

.Bubble33 {
  border-left-style: dashed;
  
  border-right-style: dashed;
}



.Bubble0 {
  background-color: rgba(255, 255, 255, 0);
  background-repeat:no-repeat,repeat ;
  border-style: solid;
  border-color: rgba(100, 100, 100, 0);
  border-radius: 0px;
  
  height: 82px;
  border-width: 02px;
  background-position: 0px -30px;
}

.ironb lol {

  color: rgba(212,161,0,1);
}

.capb lol {

  color: rgba(53,106,212,1);
}




















.txta {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-evenly;
  position:absolute;
  height: 82px;
}


.txtb {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-evenly;
  height: 68px;
  position:absolute;
}



.txtc {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  position:absolute;
	bottom: 4px;
}


.txtd {
	padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position:absolute;
}


.xoxo {
  display: flex;
  align-items:center;
  justify-content: space-between;
}



.Bubblemenu {
  height: 40px;
  width: 40px;
  background-color:rgba(255,255,2,0)
}

.Bubblemenu img{
  width: 40px;
  filter: grayscale(1);
}


.Bubblemenu:hover {
  height: 50px;
  width: 50px;
  margin-top:-10px;
  margin-bottom:15px;
}

.Bubblemenu:hover img{
  width: 50px;
  filter: grayscale(0);
}


.menunext {
  margin-top:-25px;
}



/* PHASES */

.now1 {
}

.new {
}

.avnow {
}

.anad {
}

.now2 {
}

.legacy {
}

.fresh {
}



/* CHARACTERS */

.ironb {
  background-image: url("iron.png");
  background-repeat:no-repeat,no-repeat ;
}

.capb {
  background-image: url("cap.png");
  background-repeat:no-repeat,no-repeat ;

}

.spidyb {
  background-image: url("spidy.png");
  background-repeat:no-repeat,no-repeat ;
 
}

.thorb {
  background-image: url("thor.png");
  background-repeat:no-repeat,no-repeat ;
 
}

.hulkb {
  background-image: url("hulk.png");
  background-repeat:no-repeat,no-repeat ;

}
